body {background-color:yellowgreen; font-family: "Comic Sans MS", cursive, sans-serif }
.nav-tab:hover { background-color: deeppink }
.navigation{text-decoration:none;color: midnightblue}
.nav-tab {border-style: solid; background-color: yellow}
